/* Custom CSS
 * --------------------------------------- */
html { font-size: 60%; -webkit-text-size-adjust: none; text-size-adjust: none; font-size-adjust: auto; }
body { font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 400; line-height: 1.3; color: #444a59; }

.pull-right { float: right; }
.pull-left { float: left; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Style for our header texts
* --------------------------------------- */
h1,h2,h3,h4,h5,h6 { font-weight: 400; font-size: 100%; line-height: 1.3; margin: 0; padding: 0; color: #ff9800; }
h2 { font-size: 36px; font-size: 1.8vw; letter-spacing: 5px; text-align: center; text-transform: uppercase; }

.logo {
	background: url(../images/logo@2x.png) no-repeat center center; background-size: contain; text-decoration: none !important;
	display: inline-block; width: 137px; height: 80px; width: 8vw; height: 3vw; min-width: 137px; min-height: 80px;
}
.container { width: 90%; margin: 0 auto; padding: 0 27px; }

/* header */
#header { position: relative; min-height: 580px; min-height: 100vh; background: url(../images/header_image.jpg) no-repeat center top; background-size: cover; padding-bottom: 50px; }
#header .header { z-index: 2; position: relative; padding: 48px 0; }
#header .container { position: relative; z-index: 2; width: 80%; }
#header .body { text-align: center; margin: 0 auto; max-width: 60%; padding-top: 8%; }
#header .body h1 { color: #ffffff; font-size: 36px; margin-bottom: 20px; }
#header .body .btn { 
	color: #ffffff; font-size: 16px; text-transform: uppercase; text-decoration: none !important;
	background-color: #ff9800; display: inline-block; text-align: center;
	width: 195px; height: 48px; line-height: 48px; margin-bottom: 15px;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;	
}
#header .body .btn:hover { opacity: 0.95; }

.btn_play { display: block; text-align: center; margin: 50px auto; margin: 7vh auto; cursor: pointer; }
.btn_play .icon_play_video {
    display: inline-block; width: 64px; height: 64px; width: 5vw; height: 5vw; margin: 0 auto;
    background: url(../images/play-video@2x.png) no-repeat 0 0; background-size: contain;
}
.btn_play > span { display: block; text-align: center; font-size: 14px; text-transform: uppercase; color: #ffffff; margin: 12px 0; }

/* block_how_it_works */
.block_how_it_works { padding: 5vh 0 2vh; }
.block_how_it_works .list { width: 75%; margin: 0 auto; }
.block_how_it_works .list > .item { overflow: hidden; position: relative; font-size: 24px; font-size: 1.6vw; margin-bottom: 20px; }
.block_how_it_works .list > .item .icon { float: left; width: 360px; height: 360px; width: 20vw; height: 20vw; margin-right: 128px; margin-right: 7vw; position: relative; }
.block_how_it_works .list > .item .icon img {
	position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto;
	max-width: 100%; max-height: 80%;
}
.block_how_it_works .list > .item .info { overflow: hidden; padding-top: 100px; padding-top: 8vw; text-align: right; }
.block_how_it_works .list > .item .info h3 { font-size: 24px; font-size: 1.5vw; color: #0d47a1; margin-bottom: 10px; }
.block_how_it_works .list > .item .info p { font-size: 14px; font-size: 1vw; color: #9b9b9b; font-family: Helvetica, Arial, sans-serif; }

.block_how_it_works .list .item:nth-child(2n) .icon  { float: right; margin-left: 128px; margin-left: 7vw; margin-right: 0; }
.block_how_it_works .list .item:nth-child(2n) .info { text-align: left; }

/* */
#footer { 
	background-color: #214b98; color: #ffffff; line-height: 1; text-align: center;
	padding: 50px 0; padding: 7.2vh 0; font-size: 14px; font-size: 1vw;
}
#footer .f_text { opacity: 0.7; }
#footer a { color: #ffffff; text-decoration: none; }
#footer a:hover { color: #ffffff; text-decoration: underline; }

/* */
#mobile { display: none; }

@media (max-width: 1400px) {
	#header .container { width: 86%; }
}

@media (max-width: 1100px) {
	.container { width: 100%; }
	h2 { font-size: 3vw; margin: 5vh 0; }
	
	#header .container { width: 90%; }

	.block_how_it_works .list > .item { font-size: 2.5vw; }
	
	#footer { font-size: 1.5vw; }
}
@media (max-width: 960px) {	
	#header .container { width: 100%; }	
	#footer { font-size: 1.6vw; }
}
@media (max-width: 960px) and (orientation:landscape) {

}

@media (max-width: 670px) {
	html { -webkit-text-size-adjust: 100%; text-size-adjust: 100%; }
	#desktop { display: none; }
	#mobile { display: block; }
	
	.container { width: 96%; }
	
	h2 { font-size: 18px; font-size: 5vw; margin: 5vh 0; white-space: nowrap; }
	
	#header { min-height: 100vh; background: url(../images/header_image_mobile4.jpg) no-repeat center center; background-size: cover; }
	#header .header { padding: 36px 0; text-align: center; }
	#header .container { width: 100%; padding: 0 3%; }
	#header .body { padding-top: 15%; max-width: 90%; }
	#header .body h1 { font-size: 28px; font-size: 7.8vw; }
    
    .btn_play { margin: 7vh auto; }
    .btn_play .icon_play_video { width: 20vw; height: 20vw; }
	
	.block_how_it_works .list { width: 100%; }
	.block_how_it_works .list .item { font-size: 4.7vw; }
	.block_how_it_works .list .item .icon { float: none !important; width: 70vw; height: 80vw; margin: 0 auto !important; text-align: center; }
	.block_how_it_works .list .item .icon img { max-width: 100%; max-height: 60%; }
	.block_how_it_works .list .item .info { text-align: center !important; }
	.block_how_it_works .list > .item .info h3 { font-size: 16px; }
	.block_how_it_works .list > .item .info p { font-size: 12px; }

	#footer { padding: 12vh 0; font-size: 4vw; }
}
@media (max-width: 670px) and (orientation:landscape) {
	h2 { font-size: 4.2vw; }
	
	#header .body { padding-top: 5%; padding-bottom: 10%; }
    #header .body h1 { font-size: 28px; font-size: 8vh; }
    
    .btn_play { margin: 15vh auto; }
    .btn_play .icon_play_video { width: 20vh; height: 20vh; }
    
	.block_how_it_works .list > .item { font-size: 3vw; }
	.block_how_it_works .list > .item .icon { width: 40vw; height: 40vw; }	
	
	#footer { padding: 17vh 0; font-size: 3.5vh; }
}