<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Praktice</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="height=device-height,width=device-width,user-scalable=yes, minimal-ui">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="js/app/app.js"></script>
</head>
<body ng-controller="MainController as main">

<div id="desktop" ng-if="!main.mobile">

    <div id="header" class="clearfix">
        <div class="container clearfix">
            <div class="header clearfix">
                <a href="#" class="logo">&nbsp;</a>
            </div>
            <div class="body">
                <h1>Hone your presentations skills in front of a virtual audience</h1>
                <div class="btn_play"><i class="icon_play_video">&nbsp;</i><span>Play Demo</span></div>
                <div><a href="/coming_soon_desktop/" class="btn">Sign Up</a></div>
            </div>
        </div>
    </div>

	<div id="how_it_works" class="block_how_it_works clearfix">
		<div class="container clearfix">
			<h2>How It Works</h2>
			
			<div class="list clearfix">
				<div class="item">
					<div class="icon"><img src="images/audience_icon@2x.png" alt=""></div>
					<div class="info">
						<h3>Step 1: Choose your audience</h3>
						<p>You have two virtual audience options when using the Praktice phone App.<br>You can try one of our prerecorded virtual audiences, or you can record footage of an audience and location of your choosing.</p>
					</div>
				</div>
				<div class="item">
					<div class="icon"><img src="images/upload_icon@2x.png" alt=""></div>
					<div class="info">
						<h3>Step 2: Upload your slides or presentation notes</h3>
						<p>After uploading your slides or notes, you can access the desired content within Praktice's virtual environment.</p>
					</div>
				</div>
				<div class="item">
					<div class="icon"><img src="images/insert_phone@2x.png" alt=""></div>
					<div class="info">
						<h3>Step 3: Praktice your presentation</h3>
						<p>Set a timer for the length of your presentation. Place your phone into your Google Cardboard headset. Then address your virtual audience for a fully simulated practice session.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div><!-- end desktop -->

<div id="mobile" ng-if="main.mobile">

	<div id="header" class="clearfix">
		<div class="container clearfix">
			<div class="header clearfix">
				<a href="#" class="logo">&nbsp;</a>
			</div>
			<div class="body">
				<h1>Hone your presentations skills in front of a virtual audience</h1>
				<div class="btn_play"><i class="icon_play_video">&nbsp;</i><span>Play Demo</span></div>
				<div><a href="/coming_soon_mobile/" class="btn">Sign Up</a></div>
			</div>
		</div>
	</div>

	<div id="how_it_works" class="block_how_it_works clearfix">
		<div class="container clearfix">
			<h2>How It Works</h2>
			
			<div class="list clearfix">
				<div class="item">
					<div class="icon"><img src="images/audience_icon@2x.png" alt=""></div>
					<div class="info">
						<h3>Step 1: Choose your audience</h3>
						<p>You have two virtual audience options when using the Praktice phone App.<br>You can try one of our prerecorded virtual audiences, or you can record footage of an audience and location of your choosing.</p>
					</div>
				</div>
				<div class="item">
					<div class="icon"><img src="images/upload_icon@2x.png" alt=""></div>
					<div class="info">
						<h3>Step 2: Upload your slides or presentation notes</h3>
						<p>After uploading your slides or notes, you can access the desired content within Praktice's virtual environment.</p>
					</div>
				</div>
				<div class="item">
					<div class="icon"><img src="images/insert_phone@2x.png" alt=""></div>
					<div class="info">
						<h3>Step 3: Praktice your presentation</h3>
						<p>Set a timer for the length of your presentation. Place your phone into your Google Cardboard headset. Then address your virtual audience for a fully simulated practice session.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div><!-- end mobile -->

<div id="footer" class="clearfix">
    <div class="container clearfix">
        <div class="f_text">&copy; 2016 Praktice. All Rights Reserved</div>
    </div>
</div>

</body>
</html>