/* Custom CSS
 * --------------------------------------- */
html { font-size: 60%; -webkit-text-size-adjust: none; text-size-adjust: none; font-size-adjust: auto; height: 100%; }
body { font-family: 'Montserrat', sans-serif; font-weight: 400; line-height: 1.5; color: #ffffff; height: 100%; }

.pull-right { float: right; }
.pull-left { float: left; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Style for our header texts
* --------------------------------------- */
h1,h2,h3,h4,h5,h6 { font-weight: 400; font-size: 100%; line-height: 1.3; margin: 0; padding: 0; color: #ffffff; }

.logo {
	background: url(../images/logo@2x.png) no-repeat left top; background-size: contain; text-decoration: none !important;
	display: inline-block; width: 137px; height: 80px; width: 8vw; height: 3vw; min-width: 137px; min-height: 80px;
}
.content { max-width: 90%; margin: 0 auto; padding: 0 92px; padding-bottom: 100px; position: relative; }

#coming_soon { position: relative; min-height: 100%; background: url(../images/hero_image_for_coming_soon.png) no-repeat center center; background-size: cover; }

#coming_soon .header { z-index: 2; position: relative; padding: 38px 0; }

#coming_soon .body { display: block; vertical-align: middle; text-align: center; padding-top: 10%; position: relative; z-index: 10; }
#coming_soon .body h1 { font-size: 36px; line-height: 1.3; text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); margin-bottom: 16px; }
#coming_soon .body p { font-size: 16px; padding: 0; margin: 0; margin-bottom: 30px; }

#coming_soon .body .form { margin-bottom: 30px; vertical-align: top; overflow: hidden; text-align: center; }
#coming_soon .body .input_text {
	color: #444a59; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400;
	background-color: #ffffff; border: 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
	height: 48px; line-height: 20px; padding: 13px 16px; width: 262px; margin: 0; margin-right: 15px;
}
.input_text::-webkit-input-placeholder { font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400; color: #dadbde; line-height: 20px;  transition: line-height 0.5s ease;}
.input_text::-moz-placeholder { font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400; color: #dadbde; line-height: 20px;  transition: line-height 0.5s ease;}
.input_text:-moz-placeholder { font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400; color: #dadbde; line-height: 20px;  transition: line-height 0.5s ease;}
.input_text:-ms-input-placeholder { font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400; color: #dadbde; line-height: 20px;  transition: line-height 0.5s ease;}
.input_text:focus::-webkit-input-placeholder { line-height: 100px; transition: line-height 0.5s ease;}
.input_text:focus::-moz-placeholder { line-height: 100px; transition: line-height 0.5s ease;}
.input_text:focus:-moz-placeholder { line-height: 100px; transition: line-height 0.5s ease;}
.input_text:focus:-ms-input-placeholder { line-height: 100px; transition: line-height 0.5s ease;}

#coming_soon .body .btn { 
	color: #ffffff; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400;
	text-transform: uppercase; cursor: pointer; display: inline-block; text-align: center;
	background-color: #50e3c2; border: 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
	height: 48px; line-height: 48px; padding: 0 20px; min-width: 112px; margin: 0;
}
#coming_soon .body .btn:hover { opacity: 0.95; }

#coming_soon .footer { 
	position: absolute; bottom: 0; left: 0; width: 100%; height: 80px; line-height: 80px; margin: 0;
	text-align: center; font-size: 14px; color: rgba(255,255,255,0.69);
}